/*HEADER*/
#header{
    background-color: #343434;
    display: grid;
    place-items: center;
}

.header_container{
    width: 100%;
    height: 50px;
    background-color: #FCE8CA;
    max-width: 768px;
}

    .header_container p{
        font-family: "Kosugi Maru", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        margin-top: 15px;
        margin-left: 20px;
    }

    /*MOBILE SMALL*/
    @media(max-width: 350px){
        .header_container p{
            margin-left: 0;
        }
    }

/*MAIN*/
#main{
    background-color: #343434;
    display: grid;
    place-items: center;
}

/*FIRSTVIEW*/
.firstView{
    width: 100%;
    height: 550px;
    max-width: 768px;
}

    .firstView_container{
        width: 100%;
        height: 550px;
        background-image: url(../img/five_children_reading_book_w768_h550.jpg);
        background-position: center;
        background-size: cover;
        display: grid;
        place-items: center;
    }

        .firstView_text_container{
            width: 350px;
            height: 550px;
            position: relative;
        }

            .firstView_text_container h1{
                font-family: "Kosugi Maru", sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 18px;
                position: relative;
            }

                .catchCopy_first{
                    display: block;
                    position: absolute;
                    top: 30px;
                    left: 20px;
                    font-size: 24px;
                    color: #54C1F0;
                }

                .catchCopy_second{
                    display: block;
                    position: absolute;
                    top: 10px;
                    left: 170px;
                    font-size: 48px;
                    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
                    color: #FF9950;
                }

                    .catchCopy_second_small{
                        font-size: 24px;
                    }

                    .catchCopy_third{
                        display: block;
                        position: absolute;
                        top: 70px;
                        left: 180px;
                        font-size: 32px;
                        color: #54C1F0;
                        text-decoration: underline;
                        text-decoration-color: #FFEC47;
                        text-decoration-thickness: 5px;
                    }
            
            .firstView_text_container h2{
                position: relative;
                top: 120px;
                font-family: "Kosugi Maru", sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 16px;
                position: relative;
            }

                .subtitle_first{
                    display: block;
                    position: absolute;
                    left: 50px;
                }

                .subtitle_second{
                    display: block;
                    position: absolute;
                    top: 25px;
                    left: 80px;
                }

                .subtitle_third{
                    display: block;
                    position: absolute;
                    top: 15px;
                    left: 230px;
                    font-size: 28px;
                    color: #FFE6E9;
                    text-shadow: 
                                -1px -1px 0 #FF9999,
                                1px -1px 0 #FF9999,
                                -1px  1px 0 #FF9999,
                                1px  1px 0 #FF9999;
                }

/*MOBILE SMALL*/
@media(max-width: 350px){
    .subtitle_third{
        left: 180px;
    }

    .subtitle_second{
        left: 30px;
    }

    .subtitle_first{
        left: 10px;
    }

    .catchCopy_third{
        left: 130px;
    }

    .catchCopy_second{
        left: 150px;
    }

    .catchCopy_first{
        left: 0;
    }

    .firstView_text_container{
        width: 300px;
    }
}

/*INTRODUCTION*/
.introduction{
    width: 100%;
    height: 607px;
    max-width: 768px;
    background-color: #FCE8CA;
    display: grid;
    place-items: center;
}

    .introduction_container{
        width: 350px;
        height: 507px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .introduction_text_container{
            width: 330px;
            height: 182px;
        }

            .introduction_text_container p{
                font-family: "M PLUS 1", sans-serif;
                font-optical-sizing: auto;
                font-weight: 400;
                font-style: normal;
                font-size: 18px;
                line-height: 1.8rem;
            }
        
        .text_middle{
            height: 150px;
            position: relative;
        }

            .introduction_text_name_container{
                width: 210px;
                height: 110px;
                background-color: #fcfcfc;
                border-radius: 10px;
                position: absolute;
                top: 20px;
            }

            .text_middle figure img{
                width: 150px;
                height: 150px;
                position: absolute;
                left: 190px;
            }

            .introduction_text_name_container h3{
                font-family: "Kosugi Maru", sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 18px;
                line-height: 1.5rem;
                margin-top: 10px;
                margin-left: 5px;
            }

            .introduction_text_name_container h4{
                font-family: "Kosugi Maru", sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 24px;
                margin-top: 10px;
                margin-left: 5px;
            }

        .text_under{
            height: 135px;
        }

            .text_under p{
                font-family: "M PLUS 1", sans-serif;
                font-optical-sizing: auto;
                font-weight: 400;
                font-style: normal;
                font-size: 18px;
                line-height: 1.7rem;
            }
        
    .introduction_under_container{
        width: 100%;
        max-width: 768px;
        height: 100px;
        background-color: #F5B090;
        display: grid;
        place-items: center;
    }

        .introduction_under_text_container{
            width: 350px;
            height: 85px;
        }

            .introduction_under_text_container p{
                font-family: "M PLUS 1", sans-serif;
                font-optical-sizing: auto;
                font-weight: 400;
                font-style: normal;
                font-size: 18px;
                line-height: 1.7rem;
                color: #fcfcfc;
            }

            .introduction_under_text_title{
                text-align: center;
            }

/*MOBILE SMALL*/
@media(max-width: 350px){
    .introduction_under_text_container p{
        font-size: 16px;
    }

    .introduction_under_text_container{
        width: 300px;
    }

    .text_under p{
        font-size: 16px;
    }

    .introduction_text_name_container h4{
        font-size: 22px;
    }

    .introduction_text_name_container h3{
        font-size: 16px;
    }

    .text_middle figure img{
        width: 120px;
        height: 120px;
        top: 15px;
        left: 175px;
    }

    .introduction_text_name_container{
        width: 190px;
    }

    .introduction_text_container p{
        font-size: 16px;
    }

    .introduction_text_container{
        width: 300px;
    }

    .introduction_container{
        width: 300px;
    }
}

/*EMPATHY*/
.empathy{
    width: 100%;
    height: 800px;
    max-width: 768px;
    background-color: #Fcfcfc;
    display: grid;
    place-items: center;
}

.empathy_container{
    width: 350px;
    height: 800px;
}

    .empathy_heading_container{
        width: 100%;
        height: 158px;
        display: flex;

    }

        .empathy_heading_container img{
            width: 150px;
            height: 150px;
            margin-top: 8px;
        }

        .empathy_heading_text_container{
            width: 216px;
            height: 105px;
            margin-top: 30px;
        }

            .empathy_heading_text_container h3{
                font-family: "Kosugi Maru", sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 22px;
                line-height: 2rem;
            }

                .empathy_heading_text_large{
                    font-size: 32px;
                    color: #FFC1A1;
                }

            .empathy_heading_text_container p{
                font-family: "Noto Sans JP", sans-serif;
                font-optical-sizing: auto;
                font-weight: 700;
                font-style: normal;
                font-size: 16px;
                margin-top: 10px;
                text-decoration: underline;
                text-decoration-color: #FFF41C;
                text-decoration-thickness: 5px;
            }

    .empathy_contents_container{
        width: 350px;
        height: 650px;
    }

        .empathy_contents_inner_container{
            width: 100%;
            height: 300px;
        }

            .empathy_contents_inner_text_container{
                width: 100%;
                height: 80px;
                background-color: #FFE6E9;
                margin-top: 20px;
                display: grid;
                place-items: center;
            }

            .empathy_contents_inner_text_even{
                background-color: #FAF3E0;
            }

                .empathy_contents_inner_text_container p{
                    font-family: "Noto Sans JP", sans-serif;
                    font-optical-sizing: auto;
                    font-weight: 400;
                    font-style: normal;
                    font-size: 20px;
                    width: 330px;
                    height: 64px;
                    line-height: 2rem;
                }

/*MOBILE SMALL*/
@media(max-width: 350px){
    .empathy_contents_inner_text_container p{
        font-size: 18px;
        width: 300px;
    }

    .empathy_contents_container{
        width: 300px;
    }

    .empathy_heading_text_container p{
        font-size: 14px;
    }

    .empathy_heading_text_large{
        font-size: 28px;
    }

    .empathy_heading_text_container h3{
        font-size: 20px;
    }

    .empathy_heading_text_container{
        width: 196px;
    }

    .empathy_heading_container img{
        width: 120px;
        height: 120px;
    }

    .empathy_container{
        width: 300px;
    }
}

/*SOLUTION*/
.solution{
    width: 100%;
    height: 2200px;
    max-width: 768px;
    background-color: #FCE8CA;
    display: grid;
    place-items: center;
}

.solution_container{
    width: 350px;
    height: 2200px;
}

    /*HEADING*/
    .solution_heading_container{
        width: 340px;
        height: 100px;
        background-color: #fcfcfc;
        margin-top: 20px;
        padding-left: 10px;
    }

        .solution_heading_container h3{
            font-family: "Noto Sans JP", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            font-size: 22px;
            color: #4CAF50;
            display: flex;
        }

            .tanoshii{
                display: block;
                font-family: "Hachi Maru Pop", cursive;
                font-weight: 400;
                font-style: normal;
                font-size: 42px;
                color: #FF8C00;
                text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
                transform: rotate(6deg);
            }

            .gendouryoku{
               margin-top: 20px;
            }

            .back_gendouryoku{
                display: inline;
                background-color: #FFE6E9;
            }

            .gungun{
                margin-top: 20px;
                width: 250px;
                margin-left: auto;
                margin-right: auto;
            }

            .line_gungun{
                text-decoration: underline;
                text-decoration-color: #FFEC47;
                text-decoration-thickness: 5px;
            }

/*MOBILE SMALL*/
@media(max-width: 350px){
    .tanoshii{
        font-size: 36px;
    }

    .solution_heading_container h3{
        font-size: 20px;
    }

    .solution_heading_container{
        width: 290px;
    }

    .solution_container{
        width: 300px;
    }
}

    /*CONTENTS*/
    .solution_contents_container{
        width: 100%;
        height: 700px;
    }

        .solution_contents_image_container, .solution_contents_text_container{
            width: 100%;
            height: 350px;
        }

            .solution_contents_image_container img{
                width: 350px;
                height: 350px;
            }

            .solution_contents_text_container p{
                font-family: "Kosugi Maru", sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 16px;
                line-height: 2rem;
                margin-top: 20px;
            }

    /*HEADING UNDER*/
    .solution_heading_under{
        width: 350px;
        padding: 0;
        padding-top: 10px;
        height: 90px;
    }

        .solution_heading_under .konokyoushitsude{
            font-size: 28px;
            color: #FF8C00;
            width: 350px;
            text-align: center;
        }

        h4{
            font-family: "Kosugi Maru", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 20px;
            color: #4CAF50;
            margin-top: 10px;
            text-align: center;
        }

            .manabinododai_underline{
                text-decoration: underline;
                text-decoration-color: #FFEC47;
                text-decoration-thickness: 5px;
            }

    /*CONTENTS UNDER*/
    .solution_contents_under{
        height: 1260px;
    }

        .solution_contents_inner_container{
            width: 100%;
            height: 630px;
        }

            .solution_contents_inner_image_container{
                width: 100%;
                height: 350px;
            }

                .solution_contents_inner_image_container img{
                    width: 350px;
                    height: 350px;
                }

            .solution_contents_inner_text_container{
                width: 100%;
                height: 280px;
            }

                .solution_contents_inner_text_container p{
                    font-family: "Kosugi Maru", sans-serif;
                    font-weight: 400;
                    font-style: normal;
                    font-size: 16px;
                    line-height: 2rem;
                    margin-top: 20px;
                }
            
            .solution_contents_inner_text_under{
                height: 630px;
            }

/*MOBILE SMALL*/
@media(max-width: 350px){
    .solution_contents_inner_image_container img{
        width: 300px;
    }

    .solution_heading_container h4{
        font-size: 18px;
    }

    .solution_heading_container .konokyoushitsude{
        width: 300px;
        font-size: 24px;
    }

    .solution_heading_under{
        width: 300px;
    }

    .solution_contents_image_container img{
        width: 300px;
        object-fit: cover;
        object-position: center;
    }
}

/*EMOTION*/
.emotion{
    width: 100%;
    height: 700px;
    max-width: 768px;
    background-color: #fcfcfc;
    display: grid;
    place-items: center;
}

.emotion_container{
    width: 100%;
    height: 700px;
}

    .emotion_heading_container{
        width: 100%;
        height: 100px;
        background-color: #F5B090;
        display: grid;
        place-items: center;
    }

        .emotion_heading_container h2{
            font-family: "M PLUS 1", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            font-size: 18px;
            color: #fcfcfc;
            display: flex;
            flex-direction: column;
        }

            .emotion_heading_under{
                margin-top: 10px;
            }

            .hininchinouryoku{
                font-size: 32px;
                font-weight: 900;
                text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
            }

    .emotion_contents_container{
        width: 100%;
        height: 600px;
        display: grid;
        place-items: center;
    }

        .emotion_contents_inner_container{
            width: 350px;
            height: 600px;
        }

            .emotion_contents_inner_title_container{
                width: 100%;
                height: 100px;
                display: grid;
                place-items: center;
            }

                .emotion_contents_inner_title_container h3{
                    font-family: "Kosugi Maru", sans-serif;
                    font-weight: 400;
                    font-style: normal;
                    font-size: 24px;
                    color: #DC6B9A;
                }

            .emotion_contents_inner_text_container{
                width: 100%;
                height: 500px;
            }

                .emotion_contents_inner_text_container p{
                    font-family: "Noto Sans JP", sans-serif;
                    font-optical-sizing: auto;
                    font-weight: 400;
                    font-style: normal;
                    font-size: 16px;
                    line-height: 1.4rem;
                }

/*MOBILE SMALL*/
@media(max-width: 350px){
    .emotion_contents_inner_text_container p{
        line-height: 1.3rem;
    }

    .emotion_contents_inner_container{
        width: 300px;
    }
}

/*CTA*/
.cta{
    width: 100%;
    height: 900px;
    max-width: 768px;
    background-color: #FCfcfc;
}

.cta_container{
    width: 100%;
    height: 900px;
    background-color: #d9d9d9;
}

    .cta_heading_container{
        width: 100%;
        height: 100px;
        background-color: #F5B090;
        display: grid;
        place-items: center;
    }

        .cta_heading_container h2{
            font-family: "Kosugi Maru", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 28px;
            color: #fcfcfc;
            display: flex;
            flex-direction: column;
            border: solid 0.5px #000;
        }

            .cta_heading_upper, .cta_heading_under{
                text-align: center;
                border: solid 0.5px #f00;
            }

    .cta_contents_container{
        width: 100%;
        height: 800px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fcfcfc;
    }

        .cta_contents_text_container{
            width: 350px;
            height: 400px;
            border: solid 0.5px #f00;
        }

            .cta_contents_text_container p{
                font-family: "Kosugi Maru", sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 18px;
                line-height: 1.5rem;
                margin-top: 30px;
                border: solid 0.5px #000;
            }

                .muryoutaikenwo{
                    display: block;
                    font-size: 20px;
                    width: 350px;
                    color: #F5B090;
                    text-align: center;
                    border: solid 0.5px #000;
                }

                .cta_contents_text_under .imadake{
                    font-size: 24px;
                    line-height: 2rem;
                }

                    .kouenkaidouga{
                        color: #E85298;
                    }

            .cta_contents_text_container figure img{
                width: 350px;
                height: 200px;
                object-fit: cover;
                object-position: center;
            }

            .cta_button_container{
                width: 100%;
                height: 100px;
                display: grid;
                place-items: center;
                border: solid 0.5px #00f;
            }

                .cta_button{
                    width: 300px;
                    height: 50px;
                    background-color: #06C755;
                    border-radius: 10px;
                    display: grid;
                    place-items: center;
                }

                    .cta_button p{
                        font-family: "Noto Sans JP", sans-serif;
                        font-optical-sizing: auto;
                        font-weight: 700;
                        font-style: normal;
                        font-size: 24px;
                        color: #fcfcfc;
                        margin: 0;
                    }